/* Reset styles */
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 1px solid peachpuff;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  border: 5px dashed greenyellow;
}

body {
  border: 2px dotted blue;
  line-height: 1.4;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}
/* END Reset */


/* Custom Properties */
:root {
/* FONTS */
  --font-family-regular: 'Lexend Deca',
    sans-serif;
  --font-family-bold: 'Big Shoulders Display',
    cursive;

/* COLORS */
  --primary-bright-orange: hsl(31, 77%, 52%);
  --primary-dark-cyan: hsl(184, 100%, 22%);
  --primary-very-dark-cyan: hsl(179, 100%, 13%);
  --neutral-transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-light-grey: hsl(0, 0%, 95%);
}
/* END Custom Properties */

/* General Styles */
body {
  background-color: var(--neutral-light-grey);
  font-family: var(--font-family-regular);
  font-size: 15px;
  line-height: 1.5;

  /* general layout grid */
  display: grid;
  grid-template: 4rem auto 5rem 1fr / 1fr;
  justify-items: center;
  align-items: start;
}

main {
  padding-inline: 1rem;

  /* general layout position */
  grid-row: 4 / 5;
}

footer {
  font-family: "Courier New", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  padding-inline: 1rem;

  /* general layout position */
  grid-row: 2 / 3;
}
/* END General styles */

section {
  /* create flex container for cars bodywork articles */
  display: flex;
  flex-flow: row wrap;
}

section article[data-car-bodywork] {
  /* let articles grow and shrink */
  flex: 1; 

  
}
